<p id="notice"><%= notice %></p>
<%= render 'layouts/header'%>


 <h2> Comprendre le numérique à travers 100 notions... </h2>
<div class="container notion col-md-8 col-md-offset-2">
    <div class="row">
      <div>
    <% @notions.each do |notion| %>
        <td><%= link_to (image_tag notion.photo, width: 300), notion%></td>



    <% end %>
</div>
</div>
</div>
