<%= render 'layouts/header'%>



  <div class="container choice">
      <div class="row">
          <div class="text-center">
              <p id="suivreHistoire">COMPRENDRE L'HISTOIRE DU NUMERIQUE</p>
          </div>
          <div class="images">
          <div class="image_gauche">
            <%=link_to (image_tag("suivrehistoire.jpg", alt: "suivre l'histoire"))%>
          </div>
          <div class="image_droite">
            <%=link_to (image_tag("choisirnotion.jpg", alt: "choisir une notion"))%>
          </div>
      </div>
    </div>
  </div>
<%= render 'layouts/footer'%>







<script>
$(document).ready(function() {
$("body").css("display", "none");

$("body").fadeIn(2000);

$("a.transition").click(function(event){
    event.preventDefault();
    linkLocation = this.href;
    $("body").fadeOut(1000, redirectPage);
});

function redirectPage() {
    window.location = linkLocation;
}
});
</script>
