<%= render 'layouts/header'%>
<div class="fluid-container">
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
    <h2 class="text-center">Notre projet</h2>
  </div>

    <div class="col-md-6 col-md-offset-3">
      <p>
Le diplôme de MMI ( Métiers du Multimédia et de l'Internet ) ouvre ses étudiants à l’un des volets les plus décisifs de notre temps, des plus contradictoires aussi : ​le numérique.​ Tant du côté de la réflexion que celui de la maîtrise de ses objets, cette formation est exigeante. Elle nécessite que les étudiants puissent en acquérir les fondements technologiques, dépassant le statut d’usager. Elle requiert également qu’ils en comprennent les enjeux sociétaux, intellectuels, juridiques, financiers... dépassant la position de consommateur.
</p><p>C’est donc autour de cette vaste mais primordiale notion que s’atteleront Benjamin MOQUET, Florian VILLAGER, Fleur GRIFFON, Yann LE ROUX, Elisa MAUGER, Swann LATASA, Thomas HAWKINS, Gala HERIL, David LAURES, Gwendal VALENTINE, Ines LE BUHAN, Margaux JESTIN, Elie MARGOET, Noemi LAMANE, Aurelien LAFON et Emma JOUFFROY.
 </p><hr>

                        <p>Les projets Tuteurés font parti d’un module obligatoire prévu dans le PPN en DUT MMI. Cette année, les projets Tuteurés sont encadrés par Mr Cattelain et Mme Bornerie, et s’étendront sur une période de 18 mois.
Nous avons pour objectif de « présenter notre aventure numérique » à travers un outil multimédia jusqu’à un forum, le « for in » durant lequel nous présenterons nos projets.
C’est après de nombreux brainstormings avec tout l’équipe du projet que nous sommes arrivés à l’idée de créer « Twice ».
Twice est un site web immersif, qui pousse l'interactivité du visiteur à son maximum. Dans un Design simple et épuré, mêlant photographies, vidéos, motion design, sons, articles, ..., notre site web permettra à l’utilisateur de naviguer entre la vie de deux jumeaux qui racontent leurs visions du numériques.
Aujourd’hui, nous sommes encore au stade de prototype. Après nous être mis d’accord sur un ensemble de points qui nous semblaient essentiels, comme l’idée même du site immersif, mais aussi la manière de naviguer sur ce site pour l’utilisateur ou encore le design même du site, nous nous sommes répartis des rôles entre premières et deuxièmes années.
Nous avons pour ambition lors de la présentation finale de notre site, mais d’autant plus lors du forum qui se déroulera en 2018, de faire voyager nos auditeurs dans la vie de nos deux personnages, mais aussi à travers différentes cultures, et qu’il y découvrent notre vision du numérique. </p>


  </div>
</div>

<%= render 'layouts/footer'%>
