<footer>
  <div class="fluid-container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><%= link_to 'En savoir plus',  pages_ensavoirplus_path%></div>
      </div>
    </div>
  </div>
</footer>
